@charset "utf-8";

#logo {
	height: 45px;
	width: auto;
}
#header {
	margin: 25px 80px 0px 80px;
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
    font-style: normal;
}
#menu {
	float: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#menu > div{
	text-align: right;
	width: 180px;
}
a {
	color: #f9f9fa;
	text-decoration: none;
}
::placeholder{
	color: #e0e0e0;
	opacity: 1;
}
::-ms-input-placeholder{
	color: #e0e0e0;
}
:-ms-input-placeholder{
	color: #e0e0e0;
}

#brand {
	float:left;
}

#hero{
	margin-top: -2vh;
	margin-bottom: 146px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	width: 100%;
	height: 75vh;
}
#hero button{
	background-color: #d43c68;
	float: right;
}
#heroText{
	margin-right: 97px;
	position: absolute;
	bottom: 0;
}
#bgAnim{
	height: 100vh;
	width: 100vw;
	position: absolute;
	float: left;
	z-index: -1;
	top: 6vh;
}
#logoAnim{
	z-index: 1;
	width: 55vw;
	position: absolute;
	top: 38vh;
	left: 3vw;
}
#heroImgs{
	height: 75vh;
}
.heroAccent{
	font-size: 40px;
}
.heroTittle{
	font-size: 60px; 
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
    font-style: normal;
	color: #34ebdd; 
}
.heroNormalText{
	font-size: 25px;
	margin: 0;
	color: #f9f9fa;
	font-family: report-school, sans-serif;
    font-weight: 400;
}

#references{
	display: flex;
	padding: 240px 60px 240px 60px;
	justify-content: space-around;
	background-color: #F4F4F4;
	align-items: center;
}

#queHacemos{
	background-color: #f9f9fa;
}
#queHacemosText{
	display: block;
	padding: 15vh 60px;
	text-align: center;
	font-size: 40px;
	color: #323232;
	line-height: 23px;
}
#queHacemosCards{
	display: flex;
	justify-content: space-between;
	margin: 0 100px 370px 100px;
}
.queHacemosCard{
	display: inline-grid;
	width: 16%;
	grid-template-rows: auto 37px 57px;
	padding: 31px 42px 40px 42px;
	background-color: #D4D4D4;
	font-size: 20px;
	font-weight: 700;
	border-radius: 25px;
}
.queHacemosCard > a{
	font-weight: normal;
	color: #d43c68;
}
.queHacemosCard > img{
	border-radius: 25px;
	width: 100%;
}

#sections{
	background-color: #f9f9fa;
}
.section{
	display: grid;
	grid-template-columns: 50% 50%;
}

.sectionText{
	font-size: 25px;
	color: #9b9b9b;
}
h1{
	margin-top: 20%;
	font-size: 60px;
	font-weight: 500;
	color: #323232;
	line-height: 78px;
	margin-bottom: -20px;
}
h2{
	margin-top: -10px;
	font-size: 27px;
	font-weight: 700;
	color: #323232;
}
.sectionText > img{
	width:410px;
	margin-left:80px;
}
button{
	padding: 20px 35px 20px 35px;
	background-color: #323232;
	color: white;
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
	font-size: 25px;
	margin-top: 60px;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 60px;
}

.sectionImg{
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#team{
	background-color: #F4F4F4;
	display: grid;
	padding: 95px 80px 135px 80px;
	grid-template-columns: 5fr 6fr;
}
#teamCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.teamCard{
	position: relative;
	background-color: #ffffff;
	grid-template-rows: 4fr 2fr;
}
.teamCardContainer:hover > .teamCardHover{
	top: 0;
}
.teamImg{
	width: 100%;
	height: auto;
}
.cardText{
	text-align: center;
	padding: 33px 0 33px 0;
	margin-bottom: 0;
}
.teamCardContainer{
	position: relative;
	overflow: hidden;
}
.teamCardHover{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: #ffffff;
	visibility: visible;
	transition: top 0.5s;
}
.teamCardHover > p{
	padding-left: 33px;
	padding-right: 33px;
	margin-top: -58px;
    text-align: justify;
	font-size: 20px;
}

#contact{
	background-color: #323232;
	color: white;
	font-size: 60px;
	text-align: center;
	padding: 75px 118px;
}
#contact p{
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
}
.formTextOneLine{
	display: block;
	margin-bottom: 28px;
	border-radius: 5px;
	background-color: #545454;
	color: white;
	width: 100%;
	font-family: report-school, sans-serif;
    font-weight: 400;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	font-size: 25px;
}
#contact > button{
	background-color: white;
	color: #323232;
}
#arrowLast{
	display: none;
}
#arrowNext{
	display: none;
}
#hamburger{
	display: none;
}
#hamburgerOut{
	display: none;
	visibility: hidden;
}
#mobileMenu{
	display: none;
	visibility: hidden;
}
.standardMarginLeft{
	margin-left: 80px;
}
.standardMarginRight{
	margin-right: 80px;
}
body {
	margin: 0;
	font-family: report-school, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #261e39;;
	font-size: 25px;
}
.highlightColor {
	color: #d43c68;
}
.greyColor {
	color: #9b9b9b;
}

#BGCOLORCHANGE{
	background-color: #f9f9fa;
}