@charset "utf-8";

#logo {
	height: 5.85vh;
	width: auto;
}
#header {
	display: flex;
	justify-content: space-between;
	margin: 3.255vh 5.8565vw;
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
	font-style: normal;
	font-size: 2.40em;
	align-items: center;
}
#menu {
	display: flex;
	justify-content: space-around;
}
#menu > div{
	text-align: right;
	width: 13.17vw;
}
a {
	color: #f9f9fa;
	text-decoration: none;
}
::placeholder{
	color: #e0e0e0;
	opacity: 1;
}
::-ms-input-placeholder{
	color: #e0e0e0;
}
:-ms-input-placeholder{
	color: #e0e0e0;
}

#hero{
	margin-top: 0;
	margin-bottom: 15.6657vh;
	width: 100%;
	height: 75vh;
	position: relative;
	top: 0;
	left: 0;
}
#heroContainer{
	float:left;
	position: absolute;
	display: grid;
	grid-template-columns: 3fr 2fr;
	column-gap: 2vw;
	top: 35vh;
	transform: translate(0, -50%);
	left: 0;
	margin: 0 2.92825vw;
}
#hero button{
	background-color: #d43c68;
	float: right;
}
#heroText{
	z-index: 1;
	bottom: 0;
	margin-top: 60vh;
}
#bgAnim{
	height: 90.895vh;
	width: 100vw;
	position: relative;
	z-index: -1;
	top: 0;
}
#logoAnim{
	z-index: 1;
	width: 100%;
}
#heroImgs{
	height: 75vh;
}
.heroAccent{
	font-size: 40px;
}
.heroTittle{
	font-size: 60px; 
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
    font-style: normal;
	color: #34ebdd; 
}
.heroNormalText{
	font-size: 25px;
	margin: 0;
	color: #f9f9fa;
	font-family: report-school, sans-serif;
    font-weight: 400;
}

#references{
	display: flex;
	font-size: 1.65vw;
	width: 100%;
	padding: 11.125vh 0;
	justify-content: space-around;
	background-color: #F4F4F4;
	align-items: center;
}
#references h2{
	font-size: 2.4em;
}
#mediaAnim{
	width: 15vw;
	left: 50%;
	position: relative;
	transform: translate(-50%,0);
}
#references h1{
	font-size: 3em;
}
#referencesContainer{
	display: grid;
	grid-template-rows: 3fr 1fr;
	justify-content: center;
	align-content: center;
}

#queHacemos{
	background-color: #f9f9fa;
}
#queHacemosText{
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
	display: block;
	padding: 10vh 0;
	text-align: center;
	font-size: 40px;
	color: #323232;
	line-height: 23px;
}
#queHacemosCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 2vw;
	width: 85.3588vw;
	margin: 0 7.3206vw 20vh 7.3206vw;
}
.queHacemosCard{
	display: inline-grid;
	grid-template-rows: auto 37px 57px;
	padding: 4.046997vh 3.07467vw 5.22193vh;
	background-color: #D4D4D4;
	font-size: 20px;
	font-weight: 700;
	border-radius: 25px;
}
.queHacemosCard > a{
	font-weight: normal;
	color: #d43c68;
}
.queHacemosCard > img{
	border-radius: 2vw;
	width: 100%;
}

#sections{
	background-color: #f9f9fa;
}
.section{
	display: grid;
	grid-template-columns: 50% 50%;
}

.sectionText{
	font-size: 25px;
	color: #9b9b9b;
}
h1{
	margin-top: 20%;
	font-size: 60px;
	font-weight: 500;
	color: #323232;
	line-height: 78px;
	margin-bottom: -20px;
}
h2{
	margin-top: -10px;
	font-size: 27px;
	font-weight: 700;
	color: #323232;
}
.sectionText > img{
	width:30vw;
	margin-left:80px;
}
button{
	padding: 20px 35px 20px 35px;
	background-color: #323232;
	color: white;
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
	font-size: 25px;
	margin-top: 60px;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 60px;
}

.sectionImg{
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#team{
	background-color: #F4F4F4;
	display: grid;
	padding: 12.369vh 5.8565vw 17.5781vh 5.8565vw;
	grid-template-columns: 5fr 6fr;
	align-items: center;
	font-size: 1.9765vw;
}
#teamCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.teamCard{
	position: relative;
	background-color: #ffffff;
	grid-template-rows: 4fr 2fr;
}
.teamCardContainer:hover > .teamCardHover{
	top: 0;
}
.teamImg{
	width: 100%;
	height: auto;
}
.cardText{
	text-align: center;
	padding: 33px 0 33px 0;
	margin-bottom: 0;
}
.teamCardContainer{
	position: relative;
	overflow: hidden;
}
.teamCardHover{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: #ffffff;
	visibility: visible;
	transition: top 0.5s;
}
.teamCardHover > p{
	padding-left: 33px;
	padding-right: 33px;
	margin-top: -58px;
	text-align: justify;
	font-size: 1.4641vw;
}

#contact{
	background-color: #323232;
	color: white;
	font-size: 60px;
	text-align: center;
	padding: 75px 118px;
}
#contact p{
	font-family: dazzle-unicase, sans-serif;
    font-weight: 200;
}
.formTextOneLine{
	display: block;
	margin-bottom: 28px;
	border-radius: 5px;
	background-color: #545454;
	color: white;
	width: 100%;
	font-family: report-school, sans-serif;
    font-weight: 400;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	font-size: 25px;
}
#contact > button{
	background-color: white;
	color: #323232;
}
#arrowLast{
	display: none;
}
#arrowNext{
	display: none;
}
#hamburger{
	display: none;
}
#hamburgerOut{
	display: none;
	visibility: hidden;
}
#mobileMenu{
	display: none;
	visibility: hidden;
}
.standardMarginLeft{
	margin-left: 5.8565vw;
}
.standardMarginRight{
	margin-right: 5.8565vw;
}
body {
	margin: 0;
	font-family: report-school, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #261e39;;
	font-size: 0.91405vw;
}
.highlightColor {
	color: #d43c68;
}
.greyColor {
	color: #9b9b9b;
}

#BGCOLORCHANGE{
	background-color: #f9f9fa;
}