@font-face {
	font-family: 'milonguitaregular';
	src: url(../../assets/fonts/milonguita-webfont.woff2) format('woff2'),
	url(../../assets/fonts/milonguita-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}